<div class="page-header">
  <h2>Creating Mapping</h2>
</div>
<%
  app_list_is_empty = app_list.empty?
  app_install_path = ENV['APP_PROJECT_SPACE']
%>
<% if app_list_is_empty %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">No Apps Installed</h1>
      <p>Please install one or more apps to <%= app_install_path =%>.</p>
    </div>
    <%= link_to 'Back', mappings_path, class: 'btn btn-default' %>
  </div>
<% else %>
  <%= render 'crud_form', mapping: @mapping %>
<% end %>