<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">No Apps Installed</h1>
    <p>Please install one or more apps to <%= Configuration.shared_apps_root =%>.</p>
    <p>Datasets should be installed to <%= Configuration.app_dataset_root =%>.</p>
  </div>
  <%= link_to 'Back', mappings_path, class: 'btn btn-default' %>
</div>
