// Place all the styles related to the blasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-bottom: 44px;
}

svg.graph {
  border: 1px dotted grey;

  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .nodes circle.selected {
    stroke: #000;
  }

  .labels text {
    pointer-events: none;
    font: 10px sans-serif;
  }
}
