#!/bin/bash

#PBS -N "{{ job_name }}"
#PBS -l walltime=00:09:59
#PBS -l nodes=1:ppn=28:gpus=1
#PBS -o job.log
#PBS -j oe
#PBS -S /bin/bash

echo "job running: $PBS_JOBID"

module load python/2.7
module load blast

# location of gfams_original_db.nhr, gfams_original_db.nin, and gfams_original_db.nsq
export BLASTDB=/users/PAS0328/osu8697/website

# move files to $TMPDIR
cd $PBS_O_WORKDIR
cp -t $TMPDIR alignment_toolbox.py cudalign query2tree.py /users/PAS0328/osu8697/website/gene_symbols.txt /users/PAS0328/osu8697/website/GO_terms.txt

cd $TMPDIR

# ensure that cudalign is accessible in the path for execution
export PATH=$TMPDIR:$PATH

# run query
python query2tree.py "{{{ name }}}" {{{ sequence }}}

# copy result
cp outgraph.json $PBS_O_WORKDIR

echo "job completed: $PBS_JOBID"
