#!/bin/bash

#PBS -N "{{ job_name }}"
#PBS -l walltime=00:09:59
#PBS -l nodes=1:ppn=28:gpus=1
#PBS -o job.log
#PBS -j oe
#PBS -S /bin/bash

echo "job running: $PBS_JOBID"

module load python/2.7
module load blast

# location of merged_formmated.fa.nhr, merged_formmated.fa.nin, and merged_formmated.fa.nsq
export BLASTDB=/users/PAS1294/osu8658/website
export PSEUDOGENESDB=/users/PAS1294/osu8658/website

# move files to $TMPDIR
cd $PBS_O_WORKDIR

# FIXME: uncomment once we can use alignement_toolbox.py outside of this
# cp -t $TMPDIR $PSEUDOGENESDB/py_libs/alignment_toolbox.py $PSEUDOGENESDB/cudalign query2tree.py $PSEUDOGENESDB/gene_symbols.txt $PSEUDOGENESDB/GO_terms.txt
cp -t $TMPDIR alignment_toolbox.py $PSEUDOGENESDB/cudalign query2tree.py $PSEUDOGENESDB/gene_symbols.txt $PSEUDOGENESDB/GO_terms.txt

cd $TMPDIR

# ensure that cudalign is accessible in the path for execution
export PATH=$TMPDIR:$PATH

# run query
python query2tree.py "{{{ name }}}" {{{ sequence }}}

# copy result
cp outgraph.json $PBS_O_WORKDIR

echo "job completed: $PBS_JOBID"
