#!/bin/bash

#PBS -N {{ job_name }}
#PBS -l walltime=00:09:59
#PBS -l nodes=1:ppn=28:gpus=1
#PBS -j oe
#PBS -S /bin/bash

module load python/2.7
module load blast

# location of gfams_original_db.nhr, gfams_original_db.nin, and gfams_original_db.nsq
export BLASTDB=/users/PAS0328/osu8697/website

# move files to $TMPDIR
cd $PBS_O_WORKDIR
cp -t $TMPDIR alignment_toolbox.py cudalign query2tree.py
cd $TMPDIR

# ensure that cudalign is accessible in the path for execution
export PATH=$TMPDIR:$PATH

# run query
python query2tree.py "{{{ name }}}" {{{ sequence }}}

# copy result
cp outgraph.json $PBS_O_WORKDIR
